/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.logo {
  font-weight: bold;
}

.hero {
  min-height: 80vh;
  background: linear-gradient(
  to right,
  rgba(1, 179, 157, 0.8),
  rgba(7, 140, 211, 0.9));
  background-repeat: no-repeat;
  position: relative;
  border-radius: 1em;
}

#about {
  min-height: 30vh;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.icon-box {
  background: #f9f9f9;
  padding: 30px 20px;
  border-radius: 16px;
}

.icon-box:hover {
  transform: translateY(-8px);
}

.icon-img img {
  width: 60px;
  height: 60px;
}

.icon-box h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;  
  color: #555;
}

.icon-box p {
  font-size: 0.95rem;
  color: #555;
}

.btn-green {
  background-color: rgba(1, 179, 157, 0.8);
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-green:hover {
  background-color: rgba(1, 87, 77, 0.8);
  color: #fff;
}

.footer {
  font-size: 0.95rem;
}

.footer .accordion-button::after {
  filter: invert(1); 
}

.footer .accordion-button:focus {
  box-shadow: none;
}

.footer .accordion-item {
  border: none;
}
